/test-classes/
*.class

# Package Files #
*.war
# gwt caches and compiled units #
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/
war/WEB-INF/lib/
war/META-INF/
war/login
war/mat
war/bonnie

#compilation logs
.gwt/

# eclipse project file
.settings/
.classpath
.project

# Misc
velocity.log
war/WEB-INF/mat-persistence.xml
/target/
war/WEB-INF/jetty-env.xml
/.idea/
/MeasureAuthoringTool.iml

lib/mat/mat-rest-commons/0.0.1-SNAPSHOT/_remote.repositories
lib/mat/vipuserservices/1.0/_remote.repositories
lib/mat/vsac/1.0/_remote.repositories

lib/mat/mat-rest-commons/0.0.1-SNAPSHOT/maven-metadata-local.xml
lib/mat/mat-rest-commons/maven-metadata-local.xml
lib/mat/vipuserservices/maven-metadata-local.xml
lib/mat/vsac/maven-metadata-local.xml