<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-3.0.xsd"
>

    <bean id="mailSender" 
        class="org.easymock.EasyMock" factory-method="createMock">
            <qualifier value="mock"/>
            <constructor-arg value="org.springframework.mail.javamail.JavaMailSender" />
    </bean>
    
    <!-- this is a template message that we can pre-load with default state -->
    <bean id="templateMessage" class="org.springframework.mail.SimpleMailMessage">
      <property name="from" value="mat@ifmc.org"/>
    </bean>


</beans>