@CHARSET "UTF-8";


@def selectionBorderWidth 0px;
.cellTableWidget {

}

.cellTableFirstColumn {
/* border-left:1px solid black !important; */
}

.cellTableLastColumn {
}

.cellTableFooter {
}

.cellTableHeader {
}

.cellTableCell {
    /* border-right:1px solid black !important;
	border-bottom:1px solid black !important; */
}

.cellTableFirstColumnFooter {

}

.cellTableFirstColumnHeader {

}

.cellTableLastColumnFooter {

}

.cellTableLastColumnHeader {

}

.cellTableEvenRow {
  background:#ffffff;
}

.cellTableEvenRowCell {
  border: selectionBorderWidth solid #ffffff;
}

.cellTableOddRow {
  background:#ffffff;
}

.cellTableOddRowCell {
  border: selectionBorderWidth solid #f3f7fb;
}

.cellTableHoveredRow {
  background: #eee !important;
}

.cellTableHoveredRowCell {
  /* border: selectionBorderWidth solid #eee; */
  /* border: selectionBorderWidth solid #ffffcc !important; */
}

.cellTableKeyboardSelectedRow {
  /*background: #ffc;*/
  /* border: selectionBorderWidth solid #ffffcc !important; */
}

.cellTableKeyboardSelectedRowCell {
  /* border: selectionBorderWidth solid #eee !important; */
}
/*CellTabel Row Selection */
.cellTableSelectedRow {
  background: #628cd5; 
  color: white;
  height: auto;
  overflow: auto; 
}

.cellTableSelectedRowCell {
    background-color: #628cd5;
   border: selectionBorderWidth solid #628cd5;
  /* border: selectionBorderWidth solid #ffffff; */
}


 /* The keyboard selected cell is visible over selection.*/

.cellTableKeyboardSelectedCell {
   /* border: selectionBorderWidth solid #d7dde8; */
  /*  border: selectionBorderWidth solid #ffc !important; */
}

@sprite .cellTableLoading {
  gwt-image: 'cellTableLoading';
  margin: 30px;
}
