<?xml version="1.0" encoding="UTF-8"?>

<!--
  - Sample namespace-based configuration
  -
  -->

<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd">

	<global-method-security pre-post-annotations="enabled" />

    <beans:bean id="harpFilterAuthManager" class="mat.server.HarpFilterAuthorizationManager"/>
    <beans:bean id="preAuthnHarpFilter" class="mat.server.PreAuthnHarpFilter">
        <beans:property name="authenticationManager" ref="harpFilterAuthManager" />
    </beans:bean>

    <http use-expressions="true">
    	<csrf disabled="true"/>
        <custom-filter position="PRE_AUTH_FILTER" ref="preAuthnHarpFilter"/>
        <intercept-url pattern="/HarpSupport.html" access="permitAll()"/>
        <intercept-url pattern="/HarpLogin.html" access="permitAll()"/>
        <intercept-url pattern="/harpLogin" access="permitAll()"/>
        <intercept-url pattern="/Mat.html" access="isAuthenticated()"  />
        <intercept-url pattern="/Bonnie.html" access="isAuthenticated()"  />
        <intercept-url pattern="/mat/**" access="isAuthenticated()"  />
        <access-denied-handler error-page="/HarpLogin.html"/>
        <form-login default-target-url="/Mat.html" login-page="/HarpLogin.html"/>
<!--        <form-login default-target-url="/Bonnie.html" login-page="/Login.html"/>-->
   	 	<logout/>
        <session-management invalid-session-url="/HarpLogin.html">
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
        </session-management>
    </http>

	<authentication-manager>
	 	<authentication-provider>
		<user-service>
        	<user name="dude" password="blahblah" authorities="ROLE_SUPERVISOR, ROLE_USER, ROLE_TELLER" /> 
       	</user-service>
		</authentication-provider>    
   </authentication-manager>
</beans:beans>