<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-3.0.xsd"
>
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	    <property name="systemPropertiesMode" value="2"/> <!-- SYSTEM_PROPERTIES_MODE_OVERRIDE -->
		<property name="location" value="classpath:MAT.properties"/>
	</bean>
	
	<bean id="loginService" class="mat.server.service.impl.LoginCredentialServiceImpl">	    
	</bean>
	
    <bean id="userService" class="mat.server.service.impl.UserServiceImpl">
        <property name="accessibilityUrl" value="${mat.accessibilitypolicy.url}"/>
	    <property name="termsOfUseUrl" value="${mat.termsofuse.url}"/>
	    <property name="privacyPolicyUseUrl" value="${mat.privacypolicy.url}"/>	
	    <property name="userGuideUrl" value="${mat.userguide.url}"/>
	</bean>
        
    <bean id="securityQuestionsService" class="mat.server.service.impl.SecurityQuestionsServiceImpl">
    </bean>    
            
    <bean id="codeListService" class="mat.server.service.impl.ManageCodeListServiceImpl">
    </bean>
    
	<bean id="hibernateuserService" class="mat.server.hibernate.HibernateUserDetailService">
	</bean>
	
    <bean id="measurePackageService" class="mat.server.service.impl.MeasurePackageServiceImpl">
    	<property name="currentReleaseVersion" value="${mat.measure.current.release.version}"/>
    </bean>
    
   <!--  <bean id="clauseService" class="mat.server.clause.ClauseServiceImpl">
    </bean>  -->   
     
    <bean id="packagerService" class="mat.server.service.impl.PackagerServiceImpl">
    </bean>
   <bean id="qDSAttributesService" class="mat.server.clause.QDSAttributesServiceImpl">
    </bean> 
    <bean id="eMeasureService" class="mat.server.service.impl.SimpleEMeasureServiceImpl">
    </bean>
   <!--  <bean id="elementLookupGenerator" class="mat.server.export.ElementLookupGenerator">
    </bean> -->
    <!-- <bean id="headerInfoGenerator" class="mat.server.export.HeaderInfoGenerator">
    </bean> -->
    <!-- <bean id="attachmentGenerator" class="mat.server.export.AttachmentGenerator">
    </bean>
    <bean id="clauseBusinessService" class="mat.server.clause.ClauseBusinessServiceImpl">
    </bean>
    <bean id="clauseCloningService" class="mat.server.clause.ClauseCloningServiceImpl">
    </bean> -->
    <bean id="measureAuditService" class="mat.server.service.impl.MeasureAuditServiceImpl">
    </bean>
    
    <bean id="cqlLibraryAuditService" class="mat.server.service.impl.CQLLibraryAuditServiceImpl">
    </bean>
    
    <bean id="userAuditService" class="mat.server.service.impl.UserAuditServiceImpl">
    </bean>
    <bean id="codeListAuditService" class="mat.server.service.impl.CodeListAuditServiceImpl">
    </bean>
   <!--  <bean id="suppDataElementsGenerator" class="mat.server.export.SuppDataElementsGenerator"> 
    </bean>-->
    <!-- US154 -->
    <bean id="transactionAuditService" class="mat.server.service.impl.TransactionAuditServiceImpl">
    </bean>
     <!-- MAT-1337  --> 
    <bean id="measureNotesService" class="mat.server.service.impl.MeasureNotesServiceImpl">
    	<property name="measureNotesDAO" ref="measureNotesDAO"/>
    </bean>  
    
    <bean id="cqlService" class="mat.server.CQLServiceImpl">
    </bean>  
    
    <bean id="measureLibraryService" class="mat.server.MeasureLibraryServiceImpl">
    <!--  <property name="releaseDate" value="${mat.measure.release.date}"/>-->
    	<property name="currentReleaseVersion" value="${mat.measure.current.release.version}"/>
    	<property name="cqlService" ref="cqlService"/>
    
    </bean>
    
    <bean id="cqlLibraryService" class="mat.server.CQLLibraryService">
    </bean>
   
    <bean id="vsacapi" class="mat.server.VSACApiServImpl">
    	<property name="defaultExpId" value="${mat.qdm.default.expansion.id}"/>
    </bean>
    
    <bean id="matOtpValidator" class="${2FA_AUTH_CLASS}"/>
    
    <bean id="matOtpValidatorService" class="mat.server.twofactorauth.TwoFactorValidationService">
        <property name="otpValidatorInterfaceForUser" ref="matOtpValidator"/>
    </bean>
    
    <bean id="matPropertiesService" class="mat.server.util.MATPropertiesService">
        <property name="currentReleaseVersion" value="${mat.measure.current.release.version}"/>
        <property name="qmdVersion" value="${mat.measure.current.qdm.version}"/>
    </bean>
    
</beans>