Dear ${content.User}, 
 
Your Measure Authoring Tool password will expire on ${content.passwordWarningDate}. To reset your password now, please access the MAT Account tab within the MAT tool. After 15 days, you will be required to reset your password before logging into the MAT. 
 
Sincerely, 
 
MAT Support
