Hi ${content.firstname} ${content.lastname}!

Your account has been inactive for 180 days and is therefore now disabled. 

To activate your account, contact the help desk at MATSupport@matsupport.org.
 
 