Dear ${content.User}, 
 
Your Measure Authoring Tool password is expired and is set to temporary password. To reset your password now, please access the MAT Account tab within the MAT tool . If the password is not been reset within 5 days, then on ${content.passwordExpiryDate} you will not be able to sign in to your MAT Account and need to contact the help desk at support@emeasuretool.org to request a new password.
 
Sincerely, 
 
MAT Support
